# Sqlalchemy tutorial from https://docs.sqlalchemy.org/en/13/orm/tutorial.html

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.8'

---

__Connecting to in memory sqlite__

create_engine` can also connect to other db like postgres, mysql etc...  e.g.

```python
engine = create_engine("postgresql://scott:tiger@localhost/test")
```

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('sqlite:///:memory:', echo=True)  # echo = True gives verbose output including SQL.

In [5]:
engine  # instance of Engine

Engine(sqlite:///:memory:)

---
__Declare mapping__

- First create Base which will subclass all the table classes.
- Create your database tables i.e. classes
    - mandatory attribute = `__tablename__`
    - at least 1 column with primary key

In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
Base

sqlalchemy.ext.declarative.api.Base

In [7]:
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key = True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                             self.name, self.fullname, self.nickname)

In [8]:
User.__table__  # This will give you the details of the table.

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)

---
__Creating scheme in the db__

In [9]:
Base.metadata.create_all(engine)  # This will create the actual scheme db

2019-12-26 13:19:46,795 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-26 13:19:46,803 INFO sqlalchemy.engine.base.Engine ()
2019-12-26 13:19:46,806 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-26 13:19:46,807 INFO sqlalchemy.engine.base.Engine ()
2019-12-26 13:19:46,812 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2019-12-26 13:19:46,813 INFO sqlalchemy.engine.base.Engine ()
2019-12-26 13:19:46,815 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2019-12-26 13:19:46,816 INFO sqlalchemy.engine.base.Engine ()
2019-12-26 13:19:46,819 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2019-12-26 13:19:46,820 INFO sqlalchemy.engine.base.Engine ()
2019-12-26 13:19:46,822 INFO sqlalchemy.engine.base.Engine COMMIT

---
__Creating instances of `User`__

In [10]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [11]:
ed_user.name

'ed'

In [12]:
str(ed_user.id)

'None'

---
__Creating a session to talk to db__

The ORM’s “handle” to the database is the `Session`.

In [13]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

---
__Adding and updating objects__

In [14]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')
session.add(ed_user)

At this point, we say that the instance is pending; no SQL has yet been issued and the object is not yet represented by a row in the database. The Session will issue the SQL to persist Ed Jones as soon as is needed, using a process known as a flush.

Adding multiple users

In [15]:
session.add_all([
     User(name='wendy', fullname='Wendy Williams', nickname='windy'),
     User(name='mary', fullname='Mary Contrary', nickname='mary'),
     User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [16]:
session.commit()  # commit to db

2019-12-26 13:19:46,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-26 13:19:46,909 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-12-26 13:19:46,911 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edsnickname')
2019-12-26 13:19:46,913 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-12-26 13:19:46,914 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'windy')
2019-12-26 13:19:46,915 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-12-26 13:19:46,917 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'mary')
2019-12-26 13:19:46,919 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-12-26 13:19:46,920 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flintstone', 'freddy')
2019-12-26 13:19:46,922 INFO sqlalchemy.engine.base.Engine COMMIT

`commit()` flushes the remaining changes to the database, and commits the transaction.

In [17]:
ed_user.id

2019-12-26 13:19:46,928 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-26 13:19:46,930 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = ?
2019-12-26 13:19:46,931 INFO sqlalchemy.engine.base.Engine (1,)

1

---
__Rolling back the changes --> do not commit__

In [18]:
# lets create some trxn which we do not want to commit.

ed_user.name = 'Edwardo'
fake_user = User(name='fakeuser', fullname='Invalid', nickname='12345')
session.add(fake_user)

In [19]:
session.new, session.dirty  # check what's in the session which is not flushed to db

(IdentitySet([<User(name='fakeuser', fullname='Invalid', nickname='12345')>]),
 IdentitySet([<User(name='Edwardo', fullname='Ed Jones', nickname='edsnickname')>]))

In [20]:
session.rollback()  # rolling back the session

2019-12-26 13:19:46,965 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [21]:
session.new, session.dirty  # nothing in session to flush

(IdentitySet([]), IdentitySet([]))

---
__Querying__

In [22]:
# As you see the query object on session returns a generator object which can be iterated on.
iter(session.query(User))

2019-12-26 13:19:46,986 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-26 13:19:46,988 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2019-12-26 13:19:46,989 INFO sqlalchemy.engine.base.Engine ()

In [23]:
for user in session.query(User):
    print(user, user.name)

2019-12-26 13:19:47,005 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2019-12-26 13:19:47,007 INFO sqlalchemy.engine.base.Engine ()
<User(name='ed', fullname='Ed Jones', nickname='edsnickname')> ed
<User(name='wendy', fullname='Wendy Williams', nickname='windy')> wendy
<User(name='mary', fullname='Mary Contrary', nickname='mary')> mary
<User(name='fred', fullname='Fred Flintstone', nickname='freddy')> fred

In [24]:
engine.echo = False # Turning engine.echo to false as its distracting me.

In [25]:
for instance in session.query(User).order_by(User.id):
    print(instance, type(instance))

<User(name='ed', fullname='Ed Jones', nickname='edsnickname')> <class '__main__.User'>
<User(name='wendy', fullname='Wendy Williams', nickname='windy')> <class '__main__.User'>
<User(name='mary', fullname='Mary Contrary', nickname='mary')> <class '__main__.User'>
<User(name='fred', fullname='Fred Flintstone', nickname='freddy')> <class '__main__.User'>

In [26]:
for row in session.query(User.name, User.id):
    print(row, row.name, row.id)

('ed', 1) ed 1
('wendy', 2) wendy 2
('mary', 3) mary 3
('fred', 4) fred 4

In [27]:
session.query(User.name, User.id).order_by(User.id)[0:2]  # using slicing notation

[('ed', 1), ('wendy', 2)]

In [28]:
# Filter by

for row in session.query(User).filter_by(fullname = "Ed Jones"):
    print(row)

<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>

In [29]:
# Filter

for row in session.query(User).filter(User.fullname == "Ed Jones"):
    print(row)

<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>

In [30]:
# Doing `and` conditions

for row in session.query(User).filter(User.id == 1).filter(User.fullname == "Ed Jones"):  # id = 1 AND name == Ed Jones
    print(row)

<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>

---
__common filter operations__

- equals - `==`
- not equals - `!=`
- `LIKE` - `user.name.like('%ed%')`
- ilike - case insensitive
- IN - `query.filter(User.name.in_(['ed', 'wendy', 'jack']))`
- Not In - `query.filter(~User.name.in_(['ed', 'wendy', 'jack']))`
- AND --> discussed above, there are other ways check the tutorial on website.
- OR - `query.filter(or_(User.name == 'ed', User.name == 'wendy'))`
- MATCH - `query.filter(User.name.match('wendy'))`
    - match() uses a database-specific MATCH or CONTAINS function; its behavior will vary by backend and is not available on some backends such as SQLite.

---
__Returning Lists and Scalars__

In [31]:
q = session.query(User) # or session.query(User).all()

In [32]:
q.all()

[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>,
 <User(name='wendy', fullname='Wendy Williams', nickname='windy')>,
 <User(name='mary', fullname='Mary Contrary', nickname='mary')>,
 <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>]

In [33]:
q.first()

In [34]:
# q.one() # will raise exception multiple rows found.

---
__Using textual SQL__

It is possible to use textual SQL (direcly and mixed with Sqlalchemy syntax) in queries.

In [35]:
from sqlalchemy import text

In [36]:
for user in session.query(User).filter(text('id>2')):
    print(user)

<User(name='mary', fullname='Mary Contrary', nickname='mary')>
<User(name='fred', fullname='Fred Flintstone', nickname='freddy')>

In [37]:
session.query(User).filter(text("id>2 and nickname='freddy'")).first()

In [38]:
# Using variables instead of hard coded text.

id = 2
nickname = 'freddy'

session.query(User).filter(text("id>:id and nickname=:nickname")).params(id = id, nickname = nickname).one()

In [39]:
# Entire string statement --> Use from statement

session.query(User).from_statement(text("SELECT * from Users")).all()

[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>,
 <User(name='wendy', fullname='Wendy Williams', nickname='windy')>,
 <User(name='mary', fullname='Mary Contrary', nickname='mary')>,
 <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>]

In [40]:
# Entire string statement --> Use from statement --> Adding params

session.query(User).from_statement(text("SELECT * from Users where name=:name")).params(name = "mary").all()

---
__Counting__

In [41]:
session.query(User).count()

4

In [42]:
session.query(User).filter(User.name.like("%d%")).count()

3

---
__Building a relationship__

In [43]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Address(Base):
     __tablename__ = 'addresses'
     id = Column(Integer, primary_key=True)
     email_address = Column(String, nullable=False)
     user_id = Column(Integer, ForeignKey('users.id'))
     user = relationship("User", back_populates="addresses") # establishes a 2 way relationship between User and Address class (ORM feature)

     def __repr__(self):
         return "<Address(email_address='%s')>" % self.email_address
        
        
User.addresses = relationship("Address", order_by=Address.id, back_populates="user")

In [44]:
Base.metadata.create_all(engine)  # This will create the actual schema in db for Address classs

---
__Working with related objects__

In [45]:
jack = User(name='jack', fullname='Jack Bean', nickname='gjffdd')

In [46]:
jack.addresses
jack.addresses = [
                 Address(email_address='jack@google.com'),
                 Address(email_address='j25@yahoo.com')]

In [47]:
jack.addresses

[<Address(email_address='jack@google.com')>,
 <Address(email_address='j25@yahoo.com')>]

In [48]:
jack.addresses[1].user

In [49]:
session.add(jack)
session.commit()

---
__Querying with Joins__

In [50]:
session.query(User, Address).filter(User.id == Address.user_id).filter(Address.email_address=='jack@google.com').all()

[(<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='jack@google.com')>)]

In [51]:
session.query(User, Address).filter(User.id == Address.user_id).all()

[(<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='jack@google.com')>),
 (<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='j25@yahoo.com')>)]

In [52]:
# Using query.join()

session.query(User, Address).join(Address).all()

[(<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='jack@google.com')>),
 (<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='j25@yahoo.com')>)]

In [53]:
# Using query.join()

session.query(User).join(Address).all()

There is a fair bit more about queries with joins which we can check out later.

---
__Configuring delete/delete-orphan Cascade__

The tables which we had created above were not configured to cascade delete to joined tables. Changing the schema to do that and a quick demo.

In [3]:
import sqlalchemy

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base


engine = create_engine('sqlite:///:memory:', echo=False)
Base = declarative_base()

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key = True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    addresses = relationship("Address", back_populates='user', cascade="all, delete, delete-orphan")
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                             self.name, self.fullname, self.nickname)

In [5]:
class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    user = relationship("User", back_populates="addresses")
    
    def __repr__(self):
        return "<Address(email_address='%s')>" % self.email_address

In [6]:
Base.metadata.create_all(engine)  # This will create the actual scheme db

In [7]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
jack = User(name='jack', fullname='Jack Bean', nickname='gjffdd')
jack.addresses = [
                 Address(email_address='jack@google.com'),
                 Address(email_address='j25@yahoo.com')]

In [9]:
session.add(jack)
session.commit()

In [10]:
session.query(User, Address).all()

[(<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='jack@google.com')>),
 (<User(name='jack', fullname='Jack Bean', nickname='gjffdd')>,
  <Address(email_address='j25@yahoo.com')>)]

In [14]:
user_jack = session.query(User).filter(User.name == "jack").first()

In [15]:
user_jack

In [16]:
session.delete(user_jack)

In [18]:
session.new, session.dirty

(IdentitySet([]), IdentitySet([]))

In [19]:
user_jack = session.query(User).filter(User.name == "jack").first()

In [20]:
user_jack